.new-tweet {
  font-weight: bold;
  width: 50%;
  padding-top: 20px;
}

.emptyTweet {
  display: none;
  border-style: solid;
  padding: 2%;
  color: red;
}

.tooLong {
  display: none;
  border-style: solid;
  padding: 2%;
  color: red;
}

form {
  margin-top: 40px;
  margin-bottom: 60px;
}

textarea {
  resize: none;
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.line {
  box-sizing: content-box;
  height: 100%;
  width: 99%;
  border: 2px solid;
  overflow: visible;
}

.buttonAndCounter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweetButton {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  padding: 4px;
  width: 120px;
  border: none;
  text-align: center;
}

.counter {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: flex-end;
}