article {
  border: 2px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  font-weight: 300;
}

article:hover {
  box-shadow: 10px 10px #dce4fa;
}

/* line config is in new-tweet */


.username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0px;
  font-weight: 300;
}

h3 {
  margin: 0px;
  color: #c0c4cf;
  font-weight: 300;
}

footer {
  font-size: medium;
  display: flex;
  justify-content: space-between;
}

.footerButtons {
  color: #4056A1;
  display: flex;
  justify-content: space-between;
  width: 80px;
  padding-right: 10px;
}

.fa-flag, .fa-retweet, .fa-heart {
  color: #4056A1;
 }

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: #b56c00;
}

