#tweets-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.tweetBox {
  border: 2px solid;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 8px;
  font-weight: 300;
}

.tweetBox:hover {
  box-shadow: 10px 10px #c8d5fa;
}

/* line config is in new-tweet */


.userTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3%;
}

.fa-user-circle {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 14px;
}

.usernameWithPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usernameObject {
  margin-left: 20px;
  font-weight: 600;
  font-size: 1em;
}

h3 {
  margin: 0px;
  color: #c0c4cf;
  font-weight: 300;
  font-size: 1em;
}

p {
  display: block;
  margin-top: 30px;
  margin-bottom: 2px;
}

footer {
  font-size: medium;
  display: flex;
  justify-content: space-between;
}

.footerButtons {
  color: #4056A1;
  display: flex;
  justify-content: space-between;
  width: 70px;
  padding-right: 3px;
}

.fa-flag, .fa-retweet, .fa-heart {
  color: #4056A1;
 }

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: #b56c00;
}

